<div class="copyright">

        <div class="row">
            <div class="col-md-3 cop_top">
                <p class="pull-left">
                    © Copyright 2022 yourownrecipe </p>
            </div>
            <div class="col-md-6 cop_center ">
                <ul class="footer menu pull-right">
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Terms &amp; Consitions</a></li>

                </ul>
            </div>
            <div  class ="col-md-3">
                <div class="styles__socialLinks___2Dlcm">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" class="dicon styles__icon___32Su8  " viewBox="0 0 22 22" style="width: 22px; height: 22px; color: #520808">

                            <path d="M7.31471 23H2.43724V11.4985H0V7.53553H2.43724V5.15627C2.43724 1.92344 3.81271 0 7.72302 0H10.9776V3.96447H8.94351C7.42126 3.96447 7.32067 4.51827 7.32067 5.55185L7.31396 7.53553H11L10.5686 11.4985H7.31396V23H7.31471Z"></path>
                        </svg>
                    </a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" class="dicon styles__icon___32Su8  " viewBox="0 0 21 18" style="width: 22px; height: 22px;">
                            <path d="M18.5261 2.84573C19.4161 2.28413 20.099 1.39362 20.4194 0.332804C19.5862 0.854109 18.6654 1.23111 17.683 1.43522C16.8991 0.551206 15.7787 0 14.5387 0C12.1597 0 10.2319 2.03452 10.2319 4.54355C10.2319 4.89975 10.2677 5.24686 10.3416 5.57836C6.76211 5.38856 3.58813 3.58154 1.46188 0.830709C1.09086 1.50412 0.878852 2.28413 0.878852 3.11613C0.878852 4.69175 1.63937 6.08277 2.79556 6.89918C2.08928 6.87578 1.4249 6.66907 0.843106 6.33107V6.38697C0.843106 8.5892 2.32717 10.4261 4.30058 10.8421C3.93819 10.9487 3.55855 11.002 3.16411 11.002C2.88678 11.002 2.6156 10.9747 2.35429 10.9214C2.90157 12.7258 4.49287 14.0415 6.37876 14.0766C4.90333 15.296 3.04578 16.0214 1.028 16.0214C0.680401 16.0214 0.336503 16.0019 0 15.959C1.90685 17.2473 4.17116 18 6.60433 18C14.53 18 18.8614 11.0761 18.8614 5.07136C18.8614 4.87375 18.859 4.67745 18.8503 4.48375C19.6922 3.84284 20.4244 3.04203 21 2.13072C20.2272 2.49213 19.3964 2.73653 18.5261 2.84573Z"></path>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UCcpcoPvw8oVeq8OdftLgf6Q/videos" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" class="dicon styles__icon___32Su8  " viewBox="0 0 20 14" style="width: 22px; height: 22px;"><path d="M20 10.5642V3.43582C20 3.43582 20 0 16.5534 0H3.44544C3.44544 0 0 0 0 3.43582V10.5642C0 10.5642 0 14 3.44544 14H16.5534C16.5534 14 20 14 20 10.5642V10.5642ZM13.883 7.00998L7.33545 10.8432V3.1756L13.883 7.00998V7.00998Z">

                            </path></svg>
                    </a>
                </div>
            </div>
    </div>
</div>