<nav class="navbar navbar-expand-lg navbar-light bg-light naveChangeColor header_background">
    <div class="container-fluid">
        <img src="public/images/logo.png">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="row">
                <div class="collapse navbar-collapse " id="navbarCollapse">

                    <ul class="navbar-nav ms-auto">
                        <li><a href="./" class=" color_change nav-item nav-link active"></a></li>
                        <% if(isAuthenticated) { %>
                            <li><a href="./index" class=" color_change nav-item nav-link active">Home</a></li>

                        <% } else { %>
                        <% } %>

                        <% if(isAuthenticated && user.reciperoles=='admin') { %>
                            <a href="./Recipe" class="nav-item nav-link">Add Recipe</a></li>
                        <% } else { %>
                        <% } %>

                        <li><a href="./aboutme" class="nav-item nav-link">Contact us!</a></li>

                        <!--                            <a href="./Registration" class="nav-item nav-link signup">Sign Up</a>-->
                        <% if(!isAuthenticated) { %>
                            <li><a href="./login" class="nav-item nav-link signup">Log In</a></li>
                        <% } else { %>
                            <li><a href="/logout" class="nav-item nav-link signup">Log Out</a></li>
                        <% } %>

                        <% if(isAuthenticated) { %>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        <% } else { %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>



