<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">


    <link  rel="stylesheet"  href='/public/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body class="colorChange">

    <%- include('navigation/nav')%>
    <% if(isAuthenticated) { %>
        <div class="row row_hover">
            <img src="./public/images/banner.jpeg" class="img-fluid" >
            <img src="./public/images/14-benefits-bg.png" class="img-fluid">

    <% } else { %>
    <% } %>
<div class="container ">
    <div class="row">
        <div class="col-md-3">
<!--            <form method="post" enctype="multipart/form-data" action="/upload">-->
<!--                <input type="file" name="file">-->
<!--                <input type="submit" value="Submit">-->
<!--            </form>-->
        </div>
        <div class=" col-md-6 main con_border ">
            <form action="/submit-Form" enctype="multipart/form-data" method="post" name="recipe">
                <div class="form-group">
                    <label for="addRecipe"> Recipe Name </label>
                    <input type="text" name="recipe" required class="form-control" value="">
                </div>
                <br>
                <div class="form-group">
                    <label for="addDescription"> Description </label>
                    <input type="text" name="description" required  class="form-control" value="">
                </div>
                <br>
                <div class="form-group">
                    <label for="addIngredient"> Ingredients </label>
                    <input type="text" name="ingredient"  required class="form-control" value="">
                </div>
                <br>
                <div class="form-group">
                    <label for="addAuthor"> Author </label>
                    <input type="text" name="author"  required class="form-control" value="">
                </div>
                <br>
                <div class="form-group">
                    <label for="addPretime">Pre Time </label>
                    <input type="text" name="pretime"  required class="form-control" value="">
                </div>
                <br>
                <div class="form-group">
                    <label for="addTime"> Cook Time </label>
                    <input type="text" name="time"  required class="form-control" value="">
                </div>

                <br>
                <div class="form-group">
                    <label for="addImage"> image </label>
                    <input type="file" name="uploaded_file"  required class="form-control" value="">
                </div>
                <input type="submit" class="btn btn-outline-success btt_margin"  onclick="createrecipe()" value="Add Recipe">

            </form>
        </div>
<!--        <div class="col-md-3">-->
<!--            <img src="/public/images/image.jpeg" />-->
<!--        </div>-->
    </div>
    </div>
</div>


<script>
    const xhttp = new XMLHttpRequest()
    window.addEventListener("load", () => {
        console.log("page is loaded")
        xhttp.onreadystatechange = function () {
        }
    });

</script>
    <%- include('navigation/copyright') %>
</body>
</html>
