body.colorChange{
background-color: bisque;
}
.row.colorRowChange{
 background-color: #ffffff;
}

.header_background{
 background: url("../images/header-bg.jpeg" )  no-repeat;
 background-size: cover;
}
.navbar-nav{
 text-align: right;
}
.h1headingnew {
 font-family: gotham-bold;
 text-align: center;
}
.btn-outline-success {
 --bs-btn-color: #520808;
 --bs-btn-border-color: #520808;
 --bs-btn-hover-color: #fff;
 --bs-btn-hover-bg: #520808;
 --bs-btn-hover-border-color: #520808;
 --bs-btn-focus-shadow-rgb: 25, 135, 84;
 --bs-btn-active-color: #fff;
 --bs-btn-active-bg: #520808;
 --bs-btn-active-border-color: #520808;
 --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 --bs-btn-disabled-color: #520808;
 --bs-btn-disabled-bg: transparent;
 --bs-btn-disabled-border-color: #520808;
 --bs-gradient: none;
}
.form-control {
 border: 1px solid #520808;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
 color: #520808;
}
.nav-link:focus, .nav-link:hover {
 color: #ffffff;
}
.nav-link {
 color: #520808;
}

.con_border{
 border: 2px double #ffd977;
 margin-bottom: 50px;
 margin-top: 50px;
}
/* Extra small devices "mobile phones" */
@media only screen and (max-width: 768px) {
 #container-fluid
}

/* Extra small devices "Tabs" */
@media only screen and (max-width: 992px) {
 #container-fluid
}
/* Extra small devices "Tabs" */
@media only screen and (max-width: 1200px) {
 #container-fluid
}

@media only screen and (max-width: 1920px) {
 #container-fluid
}
.row_hover {
 position: relative;

}

.overlay {
 position: absolute;
 bottom: 0;
 background: rgb(0, 0, 0);
 background: rgba(0, 0, 0, 0.5); /* Black see-through */
 color: #f1f1f1;
 width: 100%;
 transition: .5s ease;
 opacity:0;
 color: white;
 font-size: 20px;
 padding: 25px;
 text-align: center;
 height: 100px;


}

.row_hover:hover .overlay {
 display: block;
 background: rgba(0, 0, 0, 0.3);
}

.title {
 position: absolute;
 width: 500px;
 left: 50px;
 top: 200px;
 font-weight: 700;
 font-size: 30px;
 text-align: center;
 color: #520808;
 z-index: 1;
 transition: top .5s ease;



}

.row_hover:hover .title {
 top: 90px;
 color: rgba(82, 8, 8, 0.28);

}
.button {
 position: absolute;
 width: 500px;
 left: 50px;
 top: 180px;
 text-align: center;
 opacity: 0;
 transition: opacity .35s ease;
}

.button a {
 width: 500px;
 padding: 12px 48px;
 text-align: center;
 color: white;
 z-index: 1;
}
.row_hover:hover .button {
 opacity: 1;
}
.float-end{
 margin-bottom: 20px;
}
.border_new{
 border:  #ffd977;
 border-style: double;
 color: #520808;
 margin-bottom: 100px;

}
.btt_margin{
 margin-bottom: 20px;
}
.text_center{
 text-align: center;
}
.pay_successful{
 color: darkgreen;
}
.stripe-button-el {
 margin-bottom: 20px;
 margin-left: 250px;
}
.copyright{
 height: 100px;
 background-color:#ffcc33 ;

}
.cop_top{
 margin-top: 50px;
}
.cop_center{
 margin-top: 30px;
}
.styles__socialLinks___2Dlcm {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 width: 250px;
 margin-top: 50px;
}
/*.borderBottom{*/
/* border-style: dashed;*/
/* border-color: yellow;*/
/*}*/
.textborder{
 border-style: none;

}
table, th, td {
 border: 1px solid rgba(0,0,0,0.15);
 border-radius: 10px;
 text-align: center;
}
.borderTable{
 border: 1px solid rgba(0,0,0,0.15);
 border-radius: 10px;
 text-align: center;
}